body {
    background-color: #669bdd;
}

ul {
    background-color: #fff;
}

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
    text-align: center;
    display: inline;
    vertical-align:middle;
    font-family: 'Lato', sans-serif;

}
  nav ul{
    list-style: none;
    position: relative;
    display: inline-table;
  }
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    nav ul li:hover{background: rgba(0,0,0,.15);}
    nav ul li:hover > ul{display: block;}
    nav ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
      nav ul li a{
        display: block;
        padding: 30px 20px;
        color: #222;
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
      nav ul ul{
        display: none;
        background: #fff;
        position: absolute;
        top: 100%;
        box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
        border: 1px solid rgba(0,0,0,.1);
      }
        nav ul ul li{float: none; position: relative;}
          nav ul ul li a {
            padding: 15px 30px;
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          nav ul ul ul {
            position: absolute;
            left: 100%;
            top:0;
          }

.main_text{
    z-index: 0;
    background-color: #fff;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 150px;
    height: 200vh;
    font-family: 'Lato', sans-serif;
    font-size: .8em;

}
*:focus {outline: none;}

.form_1 ul {
    width: 100%;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.form_1 li{
    height: auto;
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.form_1 label {
    width: 370px;
    display: inline-block;
    float: left;
    padding: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.form_1 input {
    height: 25px;
    width: 220px;
    padding: 5px 8px;
}
.form_1 textarea {padding:8px; width:300px;}


.form_1 input, .form_1 textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 1px #ccc, 0 1px 1px #eee inset;
    border-radius: 1px;
}

.header{
    text-align: center;
    font-size: large;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;

}

.bases{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.bases_1{
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 3px;
}
.bases_2{
    padding-left: 20px;
    padding-top: 20px;
}
.show_me th {
    font-weight: normal;
    border-bottom: 2px solid #669BDD;
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 8px 10px;
}
.show_me td {
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 12px 10px;
}
.show_me {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: #fff;
    color: #3E4347;
}
.form_cmp{
    background-color: #ffffff;
}

.instruction{
    font-size: medium;
    text-align: justify;
    padding-left: 35px;
    padding-top: 15px;
    padding-right: 35px;
}
.high_instruction{
}