{% extends "base.html" %}
{% block content %}
<form action="/new_belong">
<li>
    <label>Выберете нужное оборудование: </label>
    <select name='equipment'>
        {% for element in spare %}
        <option value="{{ element }}">{{ spare[element] }}</option>
        {% endfor %}
    </select>
</li>
    <li>
        <label>Выберите нужного сотрудника: </label>
        <select name='worker'>
            {% for element in workers %}
            <option value="{{ element }}">{{ workers[element] }}</option>
            {% endfor %}
        </select>
    </li>
    <input type="submit" value="Записать">
</form>
<form action="/new_worker">
    <li>
        <label>Введите ФИО нового сотрудника: </label>
        <input type="text" name="new_worker" />
    </li>
    <input type="submit" value="Добавить">
</form>
</form>
<form action="/new_spare">
    <li>
        <label>Введите наименование нового оборудования: </label>
        <input type="text" name="new_spare" />
    </li>
    <input type="submit" value="Добавить">
</form>


<div class="container text-center">
  <h3>Просмотр данных в базе данных</h3><br>
  <div class="row">
    <div class="col-sm-4">
        <button href="#myModal" id="openBtn" data-toggle="modal" class="btn btn-default">Показать таблицу работников</button>

<div class="modal fade" id="myModal">
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
		  <h5 class="text-center">Работники компании и их ID</h5>
          <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Работник</th>
    </tr>
  </thead>
  <tbody>
  {% for element in workers %}
    <tr>
      <td>{{ element }}</td>
      <td>{{ workers[element] }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
    </div>
  </div>
    </div>
        </div>
        </div>
    <div class="col-sm-4">
        <button href="#myModal1" id="openBtn1" data-toggle="modal" class="btn btn-default">Показать таблицу с оборудованием</button>

<div class="modal fade" id="myModal1">
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
		  <h5 class="text-center">Оборудование компании и его ID</h5>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Оборудование</th>
    </tr>
  </thead>
  <tbody>
  {% for element in equipment %}
    <tr>
      <td>{{ element }}</td>
      <td>{{ equipment[element] }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
    </div>
  </div>
    </div>
        </div>
        </div>
    <div class="col-sm-4">
        <button href="#myModal2" id="openBtn2" data-toggle="modal" class="btn btn-default">Показать таблицу с распределением оборудования</button>

<div class="modal fade" id="myModal2">
<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
		  <h5 class="text-center">Работники компании и оборудование у них на руках</h5>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Сотрудник</th>
      <th scope="col">Оборудование</th>
    </tr>
  </thead>
  <tbody>
  {% for element in inuse %}
    <tr>
      <td>{{ element }}</td>
      <td>{{ inuse[element] }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
    </div>
  </div>
    </div>
        </div>
        </div>
      </div>
    </div>
<br>

{% endblock %}