{% extends "base.html" %}
{% block content %}
<form action="/new_belong">
<li>
    <label>Выберете нужное оборудование: </label>
    <select name='equipment'>
        {% for element in spare %}
        <option value="{{ element }}">{{ spare[element] }}</option>
        {% endfor %}
    </select>
</li>
    <li>
        <label>Выберите нужного сотрудника: </label>
        <select name='worker'>
            {% for element in workers %}
            <option value="{{ element }}">{{ workers[element] }}</option>
            {% endfor %}
        </select>
    </li>
    <input type="submit" value="Записать">
</form>
<form action="/new_worker">
    <li>
        <label>Введите ФИО нового сотрудника: </label>
        <input type="text" name="new_worker" />
    </li>
    <input type="submit" value="Добавить">
</form>
</form>
<form action="/new_spare">
    <li>
        <label>Введите наименование нового оборудования: </label>
        <input type="text" name="new_spare" />
    </li>
    <input type="submit" value="Добавить">
</form>


<button class="btn btn-info" data-toggle="collapse" data-target="#hide-me">Показать таблицу работников</button>
<div id="hide-me" class="collapse in">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Работник</th>
    </tr>
  </thead>
  <tbody>
  {% for element in workers %}
    <tr>
      <td>{{ element }}</td>
      <td>{{ workers[element] }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
</div>

<button class="btn btn-info" data-toggle="collapse" data-target="#hide-me2">Показать таблицу с оборудованием</button>
<div id="hide-me2" class="collapse in">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Оборудование</th>
    </tr>
  </thead>
  <tbody>
  {% for element in equipment %}
    <tr>
      <td>{{ element }}</td>
      <td>{{ equipment[element] }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
    </div>

<button class="btn btn-info" data-toggle="collapse" data-target="#hide-me3">Показать занятое оборудование</button>
<div id="hide-me3" class="collapse in">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Сотрудник</th>
      <th scope="col">Оборудование</th>
    </tr>
  </thead>
  <tbody>
  {% for element in inuse %}
    <tr>
      <td>{{ element }}</td>
      <td>{{ inuse[element] }}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>
    </div>
{% endblock %}